.block-about {
	min-height: $mainHeight;
	display: grid;
	grid-template-areas: 'about-title about-img about-text about-icon';
	grid-template-columns: 150px 1fr 1fr 150px;
	grid-template-rows: 1fr;
	grid-gap: 10px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	overflow: hidden;
	.console-underscore {
		display:inline-block;
		margin-top: 10px;
	}
	&__title {
		grid-area: about-title;
		font-size: 80px;
		font-weight: bold;
		writing-mode: vertical-rl;
		place-self: center;
		overflow: hidden;
	}
	&__img {
		grid-area: about-img;
		overflow: hidden;
		> img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 4s;
			&:hover {
				transform: scale(1.1);
			}
		}

	}
	&__text {
		grid-area: about-text;
		@include line-theme-background();
		padding: 45px 0 45px 100px;
		&-content {
			font-size: 20px;
			padding-bottom: 20px;
		}
	}
	&__icon {
		grid-area: about-icon;
		align-self: center;
		justify-self: center;
		transition-duration: 1000ms;
		> img {
			height: 80px;
		}
		&:hover {
			transform: scale(1.3) rotate(1turn); 
		}
	}
	&__services {
		display: grid;
		grid-template-areas: 'services-img a'
							 'services-img b';
		grid-template-columns: 90px 1fr;
		grid-template-rows: auto 1fr;
		&-img {
			grid-area: services-img;
			align-self: center;
		}
		&-title {
			text-align: left;
			color: $colorBright;
			font-weight: bold;
			font-size: 22px;
		}
	}
}

@media screen and (max-width: $desktopWidth) {
	.block-about {
		grid-template-areas:'about-img about-text';
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		padding: 0 10px 0 0;
		&__title {
			display: none;
		}
		&__icon {
			display: none;
		}
	}
}

@media screen and (max-width: $tableWidth) {
	.block-about {
		grid-template-areas:'about-img' 
							'about-text';
		grid-template-columns: 1fr;
		grid-template-rows: 300px 1fr;
		grid-gap: 0;
		padding: 0;
		&__title {
			display: none;
		}
		&__icon {
			display: none;
		}
	}
}

@media screen and (max-width: $phoneWidth) {
	.block-about__text {
		@include line-theme-background-sm();
		padding: 20px!important;
	}
}