include ../utils/mixins
block variables

doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title #{title}
        link(rel='icon', href='/favicon.png')
        block head

    body(class=pageClass)
        include ../includes/modules/header
        main
            block content
        include ../includes/modules/footer

    block script
